{% extends 'TruckReestr/base.html' %}
{#{% load static %}#}
{% block title %}
    Рейсы
{% endblock title %}
{#<div class="container-fluid">#}
{% block content %}
    <!-- Page content-->
    <div class="mt-4"></div>
    <table class="table table-hover table-bordered">
        <thead>
        <tr class="text-center text-wrap">
            {#                    <th scope="col">Дата погрузки</th>#}
            <th scope="col" >ФИО</th>
            <th scope="col">Паспорт</th>
            <th scope="col">Ву №</th>
            <th scope="col">Телефон</th>
            <th scope="col">АМ</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                {#  <td <a href="{{ trip.get_absolute_url }}"</a> </td>#}
                <td>{{ driver.name }}</td>
                <td>{{ driver.passport_ser }} {{ driver.passport_no }} {{ driver.passport_issued }} {{ driver.passport_date }}</td>
                <td>{{ driver.driver_license_ser }} {{ driver.driver_license_no }} {{ driver.driver_license_date }}</td>
                <td>{{ driver.phone }}</td>
                <td>{{ driver.number_auto }}</td>
                <td><a href="{% url 'driver_update' driver.id %}" >Редакт.</a> <a href="{% url 'driver_delete' driver.id %}">Удалить</a></td>

            </tr>
        {% endfor %}


        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
    {#</div>#}
{% endblock content %}


