{% extends 'TruckReestr/base.html' %}
{#{% load static %}#}
{% block title %}
    Рейсы
{% endblock title %}
{#<div class="container-fluid">#}
{% block content %}
    <!-- Page content-->
    <div class="d-flex float-end">
        <a href="{% url "tripnew" %}">
            <button type="button" class="btn btn-primary  mb-2" id="add-trip">Добавить рейс</button>
        </a>
    </div>
    <div class="mt-2"></div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr class="text-center text-wrap">
            {#                    <th scope="col">Дата погрузки</th>#}
            <th scope="col" style="width: 5%">Дата погрузки</th>
            <th scope="col" style="width: 5%">Время подачи</th>
            <th scope="col">Место погрузки</th>
            <th scope="col">Место выгрузки</th>
            <th scope="col">Вид ТС</th>
            <th scope="col">Цена рейса</th>
            <th scope="col">Авто</th>
            <th scope="col">Клиент</th>
            <th scope="col">Водитель</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td class="text-center">{{ trip.trip_date }}</td>
                <td class="text-center">{{ trip.trip_time }}</td>
                <td>{{ trip.trip_from }}</td>
                <td>{{ trip.trip_to }}</td>
                <td class="text-center">{{ trip.type_auto }}</td>
                <td class="text-end">{{ trip.trip_cost }}</td>
                <td class="text-center">{{ trip.truck }}</td>
                <td class="text-center">{{ trip.company }}</td>
                <td>{{ trip.driver.surname }} {{ trip.driver.name }}</td>
                <td><a href="{% url 'tripupdate' trip.id %}" >Редакт.</a> <a href="{% url 'tripdelete' trip.id %}">Удалить</a></td>

            </tr>
        {% endfor %}


        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
    {#</div>#}
{% endblock content %}


