{% extends 'TruckReestr/base.html' %}
 Load the tag library

{% block content %}
{% load bootstrap5 %}

{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<div class="col-8">

    <form  method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ inlines.management_form }}
        {% for formset in inlines %}
            {% bootstrap_form formset %}
            <button class="btn btn-primary mt-2">Добавить файл</button>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

{% endblock content %}