asgiref==3.4.1
beautifulsoup4==4.10.0
colorama==0.4.4
Django==4.0
django-bootstrap-v5==1.0.8
fake2db==0.5.4
Faker==0.7.11
Pillow==9.0.0
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
